---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';
---

<header class="border-b">
  <div class="max-w-7xl mx-auto flex items-center justify-between py-3 px-4">
    <div class="flex items-left">
      <Image src={logo} alt="logo" class="w-10 h-10" />
    </div>
    <nav class="flex items-center space-x-6 text-sm text-black">
      <a href="#" class="hover:text-gray-600">Inicio</a>
      <a href="#" class="hover:text-gray-600">Productos</a>
      <a href="#" class="hover:text-gray-600">Galería</a>
      <a href="#" class="hover:text-gray-600">Contacto</a>
    </nav>
  </div>
</header>
