---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';
---

<header class="border-b border-orange-400">
  <div class="flex items-center justify-between py-4 px-4 relative">
    <div class="flex-shrink-0">
      <Image src={logo} alt="Logo" class="w-12 h-12" loading="eager" />
    </div>

    <div class="max-w-7xl mx-auto flex items-center justify-center flex-1 relative">
      <nav class="hidden md:flex absolute left-1/2 -translate-x-1/2 space-x-6 text-sm text-black">
        <a href="/" class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
          >Inicio</a
        >
        <a
          href="/productos"
          class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
          >Productos</a
        >
        <a
          href="/galeria"
          class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
          >Galería</a
        >
        <a
          href="/contacto"
          class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
          >Contacto</a
        >
      </nav>

      <button id="menu-toggle" class="md:hidden text-black focus:outline-none absolute right-4">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="md:hidden max-h-0 overflow-hidden transition-[max-height] duration-300 ease-in-out px-4"
  >
    <nav class="flex flex-col space-y-2 text-sm text-black py-2">
      <a href="/" class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
        >Inicio</a
      >
      <a
        href="/productos"
        class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors"
        >Productos</a
      >
      <a
        href="/galeria"
        class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors">Galería</a
      >
      <a
        href="/contacto"
        class="px-3 py-1 rounded hover:bg-orange-400 hover:text-white transition-colors">Contacto</a
      >
    </nav>
  </div>

  <script src="../scripts/HeaderMobile.js"></script>
</header>
